.App{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light);
}

.largeheader-container{
  font-size:25px;
  color:var(--blue);
  background-color: var(--dark);
  width:100%;
  text-align: center;
}

.large-text{
  margin:10px;
}

.main-container{
  display: flex;
  flex-direction: row;
  width:90%;
  justify-content: space-evenly;
  align-content: space-around;
  height: calc(100vh - 179px);
  margin: 50px;
}

.user-repos{
  width:30%;
  overflow-wrap: normal;
  overflow-y: scroll;
  
}

#post-container{
  width: 60%;
  overflow-wrap: normal;
  overflow-y: scroll;
}