:root {
    --light: #fbfbfb;
    --medlight:#f6f8fa;
    --med:#3c4146;
    --dark: #24292e;
    --blue: #0079d1;
    --green: #28a745;
  }

html{
    height:100%;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--medlight);
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;

}
#root{
    width:100%;
    height:100%;
}